.event-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.event-thumbnail img {
  width: 400px;
  height: auto;
  margin-right: 20px;
}

.event-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

.event-info h3 {
  margin: 0 0 10px 0;
  font-size: 2em;
}

.event-info p {
  margin: 0;
}

.event-link {
  display: inline-block;
  align-self: center;
}

.event-date {
  font-size: 1em;
  color: #666;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .event-thumbnail img {
    width: 250px;
  }

  .event-info h3 {
    font-size: 1.5em;
  }
}
