.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 45px 0px 25px;
}

.header-container h1 {
  font-family: "Comfortaa", cursive;
  margin: 0px 60px;
  color: #c9022d;
  font-size: 2.25rem;
  justify-content: center;
}

.header-container .icon-wrapper {
  color: #c9022d;
  font-size: 25px;
}
