.about-section-container {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 20px 15px 20px;
  flex-wrap: wrap;
}

.about-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image img {
  width: 85%;
  height: auto;
  object-fit: cover;
}

.about-text {
  flex: 2;
  padding: 20px 20px;
  max-width: 50%;
  text-align: left;
}

.about-text p {
  margin: 10px 0px;
  line-height: 1.5;
  font-size: 16px;
}

.about-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Spacing between buttons */
  padding: 15px 20px 50px 20px; /* Optional, for better spacing around the container */
}

/* Responsive button styling */
.btn {
  flex-grow: 1; /* Allows the button to grow */
  flex-shrink: 1; /* Allows the button to shrink */
  flex-basis: 0; /* Sets the initial length of the button to 0, so they all start the same */
  max-width: 400px; /* Optional, to set a maximum width */
  height: auto;
  position: relative;
}

@media (max-width: 768px) {
  .about-section-container {
    flex-direction: column;
  }

  .about-image,
  .about-text {
    max-width: 100%;
  }

  .about-text {
    text-align: center;
  }

  .btn {
    max-width: 100%; /* Makes the button take full width on smaller screens */
  }
}

@keyframes scrollUpAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(
      -100%
    ); /* Adjust this value based on your requirement */
  }
}

.hero-scroll-up {
  animation: scrollUpAnimation 2s forwards; /* Adjust time as needed */
}
