.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 30px;
}

.team-image,
.team-names {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.team-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  justify-self: center;
  align-self: center;
}

.names {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.eboard-container {
  text-align: center;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.eboard-container img {
  width: 80%;
  height: auto;
  margin-bottom: 20px;
}

.eboard-teams {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.team {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}

.team h3 {
  margin: 0;
  font-weight: bold;
}

.team p {
  margin: 0;
  text-align: right;
}
