* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;

}

.about-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-text-wrapper {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.5;
  width:70%;
}

.about-slogan-container {
  margin-top: 20px;
  display: flex;
  color: darkgray;
  font-size: large;
  gap: 40px;
  align-items: center;
  margin-bottom: 20px;
}

.about-slogan-container .about-slogan-large {
  font-weight: bold;
  font-size: 2rem;
  font-style: italic;
  font-family: 'Caveat', cursive;

}

.about-slogan-container .about-slogan-small {
  font-size: 2.25rem;
  font-family:'Caveat', cursive;
}


.about-image-container {
  width: 60%;
  height: 500px;
  overflow: hidden;
  margin-bottom: 60px;
}

.about-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer-scene-container  {
  height: auto;
  width: 100%;
  z-index: 1;
  opacity: 0.6;
  overflow: hidden;
  position: absolute;
  transform: translateY(-50%);
  bottom: 200px;

}

.footer-scene {
  width: 100%;
  height: auto;
  display: block;
  z-index: 1;
  margin-bottom: -30%;
}


